.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-tab {
  color: #FBEAE7 !important;
}

.left-align {
  align-self: start;
  padding-left: 15px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #097cc1;
  color: #FBEAE7;
  z-index: 100;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  padding-right: 80px;
  margin: 0;
  justify-content: flex-end;
}

.nav-item {
  margin-right: 50px;
}

.nav-link {
  color: #FBEAE7;
  text-decoration: none;
  background-color: #097cc1;
  outline: #097cc1;
}

.nav-link:hover {
  text-decoration: underline;
}

html, body {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 0px;
}

.BeachComponent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Set it to a layer behind your other content */
}

.intro-padding {
  padding-top: 290px;
  padding-bottom: 600px;
  display: grid;
  place-items: center;
}

.intro-typography {
  position: relative;
  z-index: 1;
}

.typing-effect {
  width: 50ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.Resume {
  position: relative;
  z-index: 1;
}

.resume-card {
  position: relative;
  z-index: 1; 
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  min-width: 90%;
}

.component-padding {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 100%;
}

.resume {
  background-color: black;
}

.unordered-list-item {
  text-align: left;
}

.paragraph {
  display: flex;
  text-align: left;
  padding-left: 10px;
}

@media (min-width: 1200px) {
  .css-1oqqzyl-MuiContainer-root {
    /* Your custom styles here */
    max-width: 100%;
  }
}

.contact-card {
  position: relative;
  z-index: 1; 
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  min-width: 90%;
}