<!--Macie Ryan-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <title>Macie Ryan's Portfolio - Work Experience</title>
    <link rel="stylesheet" type="text/css" href="theme.css">
</head>

<body>
<div class="topnav">
    <a href="index.html">Home</a>
    <a href="biography.html">Biography</a>
    <a href="certifications.html">Certifications</a>
    <a class="active" href="education.html">Education</a>
    <a href="coursework.html">Coursework</a>
    <a href="cipher.html">Caesar Cipher</a>
</div>

<div style="padding-left:16px">
    <h1>Work Experience</h1>
    <h4>General Motors Jan. 2021 - Present</h4>
</div>
</body>
</html>
